# [Video Game]
#### Data World 
    *https://data.world/craigkelly/steam-game-data
    [Shareholder] They are a publisher, they want buy a new team but want to make sure they make good choice
        [Question1] Can we build a predict/regression model to predict a potential interval for steamspyowners? 
        [Question2] Metacritic scores are from 0 -100. Could we build a classifer model?
#### Kaggle
	*https://www.kaggle.com/gregorut/videogamesales
	*https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings
	*https://www.kaggle.com/kendallgillies/video-game-sales-and-ratings
     [Shareholder] They are a publisher is looking for recommendations for what types of game to make
         [Question1] Can we pridict Global_Sales

# Video Game Sales Model
### Goals
This project aims to answer 2 questions

* Rather the population size of a region has a relation to carbon emissions.
* Was there a significant effect on carbon emissions based on year and state

### Project Members:
* Laurent Mundell
* Joe Hart


### Table of Contents
    -Imports
    -Data Sources
    -Methods/Globals/Constants
    -Data Prep
    -Explore Data: Analysis/Visuals
    -Hypothesis Test I
    -Hypothesis Test II


https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings

# Imports

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd
import seaborn as sns
%matplotlib inline

# Methods/Globals/Constants

In [5]:
STYLE = {'purple' : '\033[95m',
               'cyan' : '\033[96m',
               'darkcyan' : '\033[36m',
               'blue' : '\033[94m',
               'green' : '\033[92m',
               'yellow' : '\033[93m',
               'red' : '\033[91m',
               'bold' : '\033[1m',
               'underline' : '\033[4m',
               'end' : '\033[0m'
}

# Load Data

In [6]:
_  = os.path.join('data', 'Video_Games_Sales_as_at_22_Dec_2016.csv')
video_game_df = pd.read_csv(_)
video_game_df.Genre.unique()
video_game_df.Genre.dropna(inplace = True)
video_game_df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [16]:
video_game_df.Genre.dropna(inplace = True)x

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

# Exploratory Data Analysis

In [7]:
video_game_df.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [8]:
display(video_game_df.head())
video_game_df.info()
video_game_df.describe().T

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Name               16717 non-null object
Platform           16719 non-null object
Year_of_Release    16450 non-null float64
Genre              16717 non-null object
Publisher          16665 non-null object
NA_Sales           16719 non-null float64
EU_Sales           16719 non-null float64
JP_Sales           16719 non-null float64
Other_Sales        16719 non-null float64
Global_Sales       16719 non-null float64
Critic_Score       8137 non-null float64
Critic_Count       8137 non-null float64
User_Score         10015 non-null object
User_Count         7590 non-null float64
Developer          10096 non-null object
Rating             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

,count,mean,std,min,25%,50%,75%,max
Year_of_Release,16450.0,2006.487356,5.878995,1980.00,2003.00,2007.00,2010.00,2020.00
NA_Sales,16719.0,0.263330,0.813514,0.00,0.00,0.08,0.24,41.36
EU_Sales,16719.0,0.145025,0.503283,0.00,0.00,0.02,0.11,28.96
JP_Sales,16719.0,0.077602,0.308818,0.00,0.00,0.00,0.04,10.22
Other_Sales,16719.0,0.047332,0.186710,0.00,0.00,0.01,0.03,10.57
Global_Sales,16719.0,0.533543,1.547935,0.01,0.06,0.17,0.47,82.53
Critic_Score,8137.0,68.967679,13.938165,13.00,60.00,71.00,79.00,98.00
Critic_Count,8137.0,26.360821,18.980495,3.00,12.00,21.00,36.00,113.00
User_Count,7590.0,162.229908,561.282326,4.00,10.00,24.00,81.00,10665.00

# Exploratory Data Visualization

In [34]:
north_am = video_game_df.drop(columns = ['EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'])

In [35]:
## finding NA values

In [36]:
north_am.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [37]:
north_am.replace(to_replace = 'Role-Playing', value = 'roleplaying', inplace = True)

In [44]:
model_1 = north_am
# model_1.User_Score.replace(to_replace = 'Na', value = '-11.0', inplace = True)
model_1 = model_1.Genre.dropna()
# model_1['User_Score'] = model_1.User_Score.astype(float)
model_1.head()

0         Sports
1       Platform
2         Racing
3         Sports
4    roleplaying
Name: Genre, dtype: object

In [39]:
north_am.Genre.dropna(inplace = True)
list1 = list(north_am.Genre.unique())
list1

['Sports',
 'Platform',
 'Racing',
 'roleplaying',
 'Puzzle',
 'Misc',
 'Shooter',
 'Simulation',
 'Action',
 'Fighting',
 'Adventure',
 'Strategy']

In [40]:
def average(df, genre):
    df = df[df['Genre'] == genre]
    average = df['User_Score'].mean()
    return average

In [41]:
racing_avg = average(model_1, 'Racing')
sports_avg = average(model_1, 'Sports')
platform_avg = average(model_1, 'Platform')
misc_avg = average(model_1, 'Misc')
action_avg = average(model_1, 'Action')
puzzle_avg = average(model_1, 'Puzzle')
shooter_avg = average(model_1, 'Shooter')
fighting_avg = average(model_1, 'Fighting')
simulation_avg = average(model_1, 'Simulation')
roleplaying_avg = average(model_1, 'roleplaying')
strategy_avg = average(model_1, 'Strategy')
adventure_avg = average(model_1, 'Adventure')

KeyError: 'Genre'

In [28]:
model_2 = north_am
# model_2.replace(to_replace = 'tbd', value = )
# model_2.User_Score.astype(float)
model_2.update(model_2.loc[model_2['Genre'] == 'Platform']['User_Score'].fillna(value = platform_avg))

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [3]:
model_2.loc[model_2['Genre']=='Platform']
model_2.Genre.replace(to_replace= 'tbd', value = platform_avg, inplace = True)
model_2.head()

NameError: name 'model_2' is not defined

In [37]:
list1

['Sports',
 'Platform',
 'Racing',
 'roleplaying',
 'Puzzle',
 'Misc',
 'Shooter',
 'Simulation',
 'Action',
 'Fighting',
 'Adventure',
 'Strategy']

In [55]:
for genre in list1:
    model_2.update(model_2.loc[model_2['Genre'] == genre]['User_Score'].fillna(value = eval(genre.lower() + "_avg")))

AttributeError: 'float' object has no attribute 'lower'

In [56]:
model_2[model_2.User_Score.isna()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
659,NaN,GEN,1993.0,NaN,Acclaim Entertainment,1.78,NaN,NaN,NaN,NaN,NaN,NaN
14246,NaN,GEN,1993.0,NaN,Acclaim Entertainment,0.00,NaN,NaN,NaN,NaN,NaN,NaN